body {
  margin: 0;
  font-family: 'Playwrite CU', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(to bottom, #042a32, #010c0f);
}

.container {
  border: 2px solid;
  text-align: center;
  color: #32696e;
  padding: 20px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 90%;
  max-width: 600px;
  margin-top: 20px;
  margin-bottom: 20px;
  
}

.profile-pic {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid ;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
}
.title-and-icon{
  display: flex;
  justify-content: center;
  align-items: center;
}

.varified{
  height: 25px;
  width: 25px;
 
  margin-left: 5px ;
}
.links {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.links a {
  display: inline-block; 
  background: #32696e;
  padding: 10px;
  margin: 10px 0;
  border-radius: 15px;
  color: black;
  text-decoration: none;
  transition: background 0.3s, color 0.3s;
  font-size: 14px;
  max-width: 700px; 
  width: 100%; /* Full width of the container */
  text-align: center; 
}

.links a:hover {
  background: rgba(7, 5, 19, 0.3);
  color: #0ae2f1;
}

.footer {
  margin-top: 20px;
  font-size: 12px;
  color: #32696e;
}

@media (min-width: 768px) {
  .container {
   
      width: 80%;
      
  }
  
  
}